header {
  background-color: #a80f0d;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

#gameTable {
  background: rgba(74, 73, 73, 0.563);
  /* background-color: hotpink; */
	height: 60vh;
	line-height: 60vh;
	position: absolute;
	top: 23vh;
	width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 200px;
  height: 300px;
  object-fit: contain;
  /* background-color: darkkhaki; */
  padding: 100px 0;
} 

#centerSpace {
  /* background-color: chocolate; */
  display: block;
}

#gameBoard {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* background-color: yellow; */
  height: 80px;
} 

#gameHeader{
  background-color: #f8f4f46c;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	width: 100%;
  font-size: 40px;  
  /* background-color: lightskyblue; */
  height: 550px;
}

#playerScore, #computerScore{
  align-items: flex-start;
  /* background-color: forestgreen; */
  margin: 0;
    padding: 0;
    line-height: 2;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#playerScore {
  float: left;
}
#computerScore {
  float: right;
}

body {
  background-image: url(camo-bg.png);
}

#drawButton{
  padding: 20px 30px;
  /* background-color: steelblue; */
}
#newGame {
  padding: 20px 14px;
}

/* HOMEPAGE */
#header {
  background-color: #a80f0d;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

#howToPlay{
    background: rgba(97, 95, 95, 0.825);
    /* background-color: coral; */
    height: 60vh;
    line-height: 4vh;
    position: absolute;
    top: 23vh;
    width: 100vw;
    display: inline-flexbox;
    /* flex-direction: row; */
    /* overflow: hidden; */
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
  }

  #instructions{
    /* background-color: violet; */
    /* background: rgba(74, 73, 73, 0.563); */
    margin: 0;
    padding: 0;
    line-height: 2;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    inline-size: 400px;
    white-space:pre-line;
  }
  #playButton{
    padding: 15px 30px;
  }