header {
  background-color: #a80f0d;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	width: 100%;
}
 #gameTable {
  background: rgba(74, 73, 73, 0.563);
	height: 60vh;
	line-height: 60vh;
	position: absolute;
	top: 23vh;
	width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#playerDeck, #computerDeck{
  width: 200px;
  height: 300px;
}
#playerCard, #computerCard{
  width: 200px;
  height: 300px;
}
img {
  width: 200px;
  height: 300px;
  object-fit: contain;
} 

#centerSpace {
  display: block;
}

#gameBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gameHeader{
  display: flex;
  flex-direction: row;
  font-size: 25px;
}



