header {
  background-color: #a80f0d;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

#gameTable {
  background: rgba(74, 73, 73, 0.563);
	height: 60vh;
	line-height: 60vh;
	position: absolute;
	top: 23vh;
	width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 200px;
  height: 300px;
  object-fit: contain;
} 

#centerSpace {
  display: block;
}

#gameBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

#gameHeader{
  background-color: #f8f4f46c;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	width: 100%;
  font-size: 40px;  
}

#playerScore, #computerScore{
  align-items: flex-start;
}

/* body {
  background-image: url(camo-bg.png);
} */

#drawButton{
  padding: 20px 16px;
}

#header {
  background-color: #a80f0d;
  padding: 5px 20px 10px;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

#howToPlay{
    /* background: rgba(74, 73, 73, 0.563); */
    background-color: coral;
    height: 60vh;
    line-height: 4vh;
    position: absolute;
    top: 23vh;
    width: 100vw;
    display: inline-flexbox;
    /* flex-direction: row; */
    /* overflow: hidden; */
    justify-content: center;
    text-align: center;
  }

  #instructions{
    background-color: violet;
    margin: 0;
    padding: 0;
    line-height: 2;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    inline-size: 400px;
    white-space:pre-line;
  }
